<div class="panel-footer clearfix">
    <div class="pull-left">
        Service provided for fun as automated project <a class="link-offset-2 link-underline link-underline-opacity-0" href="">Wuf</a> &copy; 2025
    </div>
    <div class="pull-right">
        <a class="link-offset-2 link-underline link-underline-opacity-0" href="/status/">Status</a>
         | <a class="link-offset-2 link-underline link-underline-opacity-0" href="/help/">Terms of Service</a>
         | <a class="link-offset-2 link-underline link-underline-opacity-0" href="/help/">Privacy Policy</a>
    </div>
</div>

<script src="/static/js/jq.js"></script>
<script src="/static/js/poper.js"></script>
<script src="/static/js/non.js"></script>
<script src="/static/js/min.js"></script>
<script src="/static/js/s.js"></script>