<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Contact — Wuf E-mail Hosting Service</title>
        <meta property="og:title" content="Contact — Wuf E-mail Hosting Service" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% include '_headsec.html' %}
    </head>
    <body>
        <div class="container">
            {% include '_navbar.html' %}
              <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-between align-items-center">
                  Contact
                </div>
                <div class="panel-body">

                      <div class="alert alert-danger" role="alert">
                        <b>I AM NOT INTERESTED IN ANY FORM OF PROMOTIONS OR ADVERTISING, AND I KINDLY REQUEST NOT TO BE CONTACTED REGARDING SUCH MATTERS.</b>
                      </div>
                      <div class="alert alert-info" role="alert">
                        <b>Adding your own domain!</b> Please visit <b>Add domain</b> page and follow instructions.
                      </div>

                    <h2 class="card-title">Contact email </h2>
                      <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                              <th>Reason</th>
                              <th>Contact</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr><td>Questions</td><td>rick</td><td><a class="link-offset-2 link-underline link-underline-opacity-0" href="mailto:rick@wuf.li">rick//wuf.li</a></td></tr>
                            <tr><td>Errors</td><td>rick</td><td><a class="link-offset-2 link-underline link-underline-opacity-0" href="mailto:rick@wuf.li">rick//wuf.li</a></td></tr>
                            <tr><td>Abuse</td><td>rick</td><td><a class="link-offset-2 link-underline link-underline-opacity-0" href="mailto:rick@wuf.li">rick//wuf.li</a></td></tr>
                          </tbody>
                      </table>
                    <br>
                    <p class="card-text">Hope you get point that for all things, contact email is same LOL</p>
                  <br>
                </div>
                {% include '_footer.html' %}
              </div>
        </div>



        
        <br>
        <br>
    </body>
</html>