<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Donate — Wuf E-mail Hosting Service</title>
        <meta property="og:title" content="Donate — Wuf E-mail Hosting Service" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% include '_headsec.html' %}
    </head>
    <body>
        <div class="container">
            {% include '_navbar.html' %}
              <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-between align-items-center">
                  Donate
                </div>
                <div class="panel-body">
                    <p class="card-text">Wuf is a 100% free service that relies on the generosity of its users to cover operating expenses. Wuf is committed to remaining a not-for-profit entity, and your contributions directly impact its financial health. You can support Wuf by making a donation by clicking link below.</p>
                    <p class="card-text">Not-for-profit means your donation will be used solely for necessary or appropriate expenses. These expenses typically fall into the following categories:
                        <ul>
                            <li>Server costs</li>
                            <li>Domain costs</li>
                        </ul>
                    </p>
                    <p class="card-text">BTC: <code>coming soon</code></p>
                  <br>
                </div>
                {% include '_footer.html' %}
              </div>
        </div>



        
        <br>
        <br>
    </body>
</html>